header {
    background-color: rgb(90, 80, 80);
    width: 100%;
    margin-bottom: 75px;
}

h1 {
    font-size: 72px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-family: serif;
    padding-top: 35px;
    padding-bottom: 0px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    color: #eee;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
    padding-bottom: 20px;
    margin: 0px;
}

.box {
    background-color: rgb(126, 255, 215);
    height: 400px;
    width: 30%;
    display: inline-block;
    margin: 0px 10px;
    margin-bottom: 50px;
}

.container {
    width: 75%;
    margin: auto;
}

footer {
    background-color: yellow;
    min-height: 100px;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 0, 0);
}